{% extends 'base.html '%}
{% block title %}MapSpy{% endblock %}

<!-- ΑΠΕΝΕΡΓΟΠΟΙΗΣΗ html-->

{% block content %}
	<div class="container mt-5 pt-5">
		<div class="row">
			<div class="col-md-6">
				<h3 class="text-center">Map Information</h3>
				<p class="text-justify">
				Αντίστροφα μετράει ο χρόνος για το άνοιγμα της πλατφόρμας της ΑΑΔΕ μέσω της οποίας θα υποβληθούν οι φετινές
				. 
				</p>
			</div>
			<div class="col-md-6">
				<h3 class="text-center">Mapius Spy</h3>
				{{m|safe}}
			</div>
		</div>
	</div>
{% endblock %}